<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>1</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link href="css/styles.css" rel="stylesheet" />
  <script src="js/vue.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="sample">
      <form v-if="!showResult" @submit.prevent="sendForm">
        <div class="form-group">
          <label>Email</label>
          <input v-model="user.email" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input v-model="user.phone" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>FirsName</label>
          <input v-model="user.firstName" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>LastName</label>
          <input v-model="user.lastName" type="text" class="form-control" />
        </div>
        ...
        <div class="form-group">
          <label>Guests</label>
          <input @click="addGuest" type="button" class="btn btn-primary" value="+" />
        </div>
        <div v-for="(guest, i) in guests" class="form-group" :key="guest.id" @dblclick="removeGuest(i)">
          <label>Guest {{i + 1}}</label>
          <input v-model="guest.name" type="text" class="form-control" />
        </div>
        <hr />
        <button :disabled="!formValidate" class="btn btn-success">
          Send Data
        </button>
      </form>
      <div v-else>
        <h2>All done!</h2>
        <table class="table table-bordered">
          <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{ user.phone }}</td>
          </tr>
          <tr>
            <td>Full Name</td>
            <td>{{ fullName }}</td>
          </tr>
          <tr v-if="guests.length">
            <td>Guests</td>
            <td>
              <ul class="list-group">
                <li v-for="guest in guests" :key="guest.id" class="list-group-item">
                  {{ guest.name }}
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script>
    Vue.createApp({
      data: () => ({
        user: {
          email: "123@mail.ru",
          phone: "+734234234234",
          firstName: "Kirill",
          lastName: "Reactovich",
        },
        guests: [],
        showResult: false,
      }),
      computed: {
        formValidate() {
          return Object.values(this.user).every((val) => val.length > 0);
        },
        fullName() {
          return `${this.user.firstName} ${this.user.lastName}`;
        },
      },
      methods: {
        addGuest() {
          this.guests.push({ id: this.guests.length, name: "" });
        },
        sendForm() {
          if (this.formValidate) {
            this.showResult = true;
            this.guests = this.guests.filter(g => g.name.length > 0)
          }
        },
        removeGuest(i) {
          this.guests.splice(i, 1);
        },
      },
    }).mount(".sample");
  </script>
</body>

</html>