<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/styles.css" rel="stylesheet">
	<script src="js/vue.js"></script>
	<style>
		.my-success{
			font-style: italic;
		}

		.other-warning{
			font-weight: bold;
		}

		.table-some{
			color: #fff;
			background: #000;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<div class="sample">
			<div class="alert" :class="alertClasses">
				Some text
			</div>
			<div class="form-check">
				<div>
					<label class="form-check-label">
						<input class="form-check-input" type="radio" value="green" v-model="alertType" name="alert_type">
						Green
					</label>
				</div>
				<div>
					<label class="form-check-label">
						<input class="form-check-input" type="radio" value="orange" v-model="alertType" name="alert_type">
						Orange
					</label>
				</div>
				<div>
					<label class="form-check-label">
						<input class="form-check-input" type="radio" value="red" v-model="alertType" name="alert_type">
						Red
					</label>
				</div>
			</div>
			<div class="form-check">
				<div v-for="val,key in tableClasses">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" v-model="tableClasses[key]" :name="key">
						{{ key }}
					</label>
				</div>
			</div>
			<hr>
			<hr>
			<table class="table" :class="tableClasses">
				<tr>
					<td>Title</td>
					<td>Some</td>
					<td>nz</td>
				</tr>
				<tr>
					<td>Title</td>
					<td>Some</td>
					<td>nz</td>
				</tr>
				<tr>
					<td>Title</td>
					<td>Some</td>
					<td>nz</td>
				</tr>
			</table> 
		</div>
	</div>
	<script>
		/*
			class="string"
			:class="string"
			:class="[classes]"
			:class="{a: boolean, b: boolean}"
			:class=[string, obj, string]
		*/

		let app = Vue.createApp({
			data: () => ({
				alertType: 'green',
				tableClasses: {
					'table-hover': false,
					'table-bordered': false,
					'table-some': false
				}
			}),
			computed: {
				alertClasses(){
					return {
						'alert-success': this.alertType == 'green',
						'alert-warning': this.alertType == 'orange',
						'alert-danger': this.alertType == 'red'
					}
				}
			}
		});

		app.mount('.sample')
	</script>
</body>
</html>
