<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
<div class="wrapper">
	<div class="sample">
		<div class="Todo">
			<h1>Your actions</h1>
			<app-todo-action 
				v-for="action,i in todoList"
				:key="i"
				:title="action.title" 
				:value="action.current" 
				:max="action.max"
				@step="makeStep(i)"
			></app-todo-action>
		</div>
	</div>
</div>
<script>
	let AppTodoAction = {
		props: {
			title: { type: String, required: true },
			value: { type: Number, required: true },
			max: { type: Number, required: true }
		},
		computed: {
			rel(){
				return this.value / this.max;
			},
			progressStyles(){
				return { width: this.rel * 100 + '%' }
			},
			alertClasses(){
				return {
					'alert-danger': this.rel < 0.25,
					'alert-warning': this.rel >= 0.25 && this.rel < 0.75,
					'alert-success': this.rel >= 0.75
				}
			}
		},
		methods: {
			step(){
				this.$emit('step'/* , { some: 'nz' } */);
			}
		},
		template: `<div class="action">
			<div class="alert" :class="alertClasses">
				<h2>{{ title }}</h2>
				<div class="progress">
					<div class="progress-bar" :style="progressStyles"></div>
				</div>
				<hr>
				<h3 v-if="value == max">All done!</h3>
				<button v-else @click="step" type="button" class="btn btn-primary">
					I make step!
				</button>
			</div>
		</div>`
	};

	Vue.createApp({
		components: {
			AppTodoAction
		},
		data: () => ({
			todoList: [
				{ title: 'First action', current: 0, max: 5 },
				{ title: 'Other work', current: 0, max: 10 },
				{ title: 'Some fun', current: 0, max: 7 }
			]
		}),
		methods: {
			makeStep(i){
				let action = this.todoList[i];

				if(action.current < action.max){
					action.current++;
				}
			}
		}
	}).mount('.sample');

	/*
		@click
		$emit('click')

		addEventListener('some')
		dispatchEvent(new Event('some'))
	*/

</script>
</body>
</html>