<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/styles.css" rel="stylesheet">
	<script src="js/vue.js"></script>
	<style>
		.sample{
			overflow: hidden;
		}
		
		.fade-enter-active{
			animation: fadeIn 0.5s;
		}

		.fade-leave-active{
			animation: fadeOut 0.5s;
		}

		@keyframes fadeIn {
			from{ opacity: 0; transform: translateX(-100px); }
			to{ opacity: 1; transform: translateX(0); }
		}

		@keyframes fadeOut {
			from{ opacity: 1; transform: translateX(0); }
			to{ opacity: 0; transform: translateX(100px); }
	}
	</style>
</head>
<body>
	<div class="wrapper">
		<div class="sample">
			<form v-if="!formDone" @submit.prevent="sendForm">
				<div class="form-group">
					<label>Email</label>
					<input v-model.trim="user.email" type="text" class="form-control" ref="firstInp">
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input v-model.trim="user.phone" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>First Name</label>
					<input v-model.trim="user.firstName" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input v-model.trim="user.lastName" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>Guests</label>
					<input @click="addGuest" type="button" class="btn btn-primary" value="+">
				</div>
				<transition-group name="fade">
					<div class="form-group" v-for="guest,i in guests" :key="guest.id">
						<label @dblclick="removeGuest(i)">Guest {{ i + 1 }}</label>
						<input v-model.trim="guest.value" type="text" class="form-control">
					</div>
				</transition-group>
				<hr>
				<button class="btn btn-success" :disabled="!formReady">Send Data</button>
			</form>
			<div v-else>
				<h2>All done!</h2>
				<table class="table table-bordered">
					<tr>
						<td>Email</td>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<td>Phone</td>
						<td>{{ user.phone }}</td>
					</tr>
					<tr>
						<td>Full Name</td>
						<td>{{ fullName }}</td>
					</tr>
					<tr>
						<td>Guests</td>
						<td>
							<ul class="list-group">
								<li class="list-group-item" v-for="guest in guests">
									{{ guest.value }}
								</li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script>
		Vue.createApp({
			data: () => ({
				user: {
					email: '',
					phone: '',
					firstName: '',
					lastName: ''
				},
				guests: [],
				guestsAI: 0,
				formDone: false
			}),
			computed: {
				fullName(){
					return (this.user.firstName + ' ' + this.user.lastName).trim();
				},
				formReady(){
					return Object.values(this.user).every(val => val.length > 0);
				}
			},
			methods: {
				addGuest(){
					this.guests.push({ id: ++this.guestsAI, value: '' });
				},
				removeGuest(i){
					this.guests.splice(i, 1);
				},
				sendForm(){
					if(this.formReady){
						this.formDone = true;
						this.guests = this.guests.filter(g => g.value.length > 0);
					}
				}
			},
			mounted(){
				this.$refs.firstInp.focus();
			}
		}).mount('.sample');
	</script>
</body>
</html>
